.hidden-scrollbar {
  background-color:black;
  color:white;  
  overflow:hidden;
  text-align:justify;    
}

.hidden-scrollbar .inner {
  height:200px;
  overflow:auto;
  margin:15px -300px 15px 15px;
  padding-right:300px; 
}
.body {
	background: url("../images/background/bacground.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.main-axa {
		padding: 0 10px;
		width: 750px;
		margin: 0 -60px;
}

.navbar-z {
	margin-top:-40px;
	background-color: transparent;
	border-radius: none;
	border: none;
}

.logo-nav {
	height: 100%;
	width: calc(100vh * 1/7);
}

.navbar-header {
	padding: 10px;
	background-position: center center;
}

.icon-ld {
	--timeline-bgX: 0%;
    --timeline-bgY: 60%;

    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    background: url("../images/Icon-zurich.png") no-repeat;
    background-position-y: 60%;
    background-position: var(--timeline-bgX) var(--timeline-bgY);
    background-size: 820% 205%;
}

.icon-phone,
.icon-email,
.icon-address {
	width: 60px;
}

.icon--phone {
	width: 60px;
	height: 60px;
	background-position-x: calc((100%/26) * 22.3);
    --timeline-bgY: 0%;
}

.icon--email {
	width: 60px;
	height: 60px;
	background-position-x: calc((100%/26) * 18.55);
    --timeline-bgY: 0%;
}

.icon--address {
	width: 60px;
	height: 60px;
	background-position-x: calc((100%/26) * 14.85);
    --timeline-bgY: 0%;
}

.font-phone,
.font-email {
	color: black;
	margin-top: -45px;
	font-size: 1.5em;
	width: 20em;
}

.font-address {
	color: black;
	margin-top: -60px;
	font-size: 1.5em;
	width: 20em;
}

.icon-sosmed{
	--timeline-bgX: 0%;
    --timeline-bgY: 60%;

    display: block;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    background: url("../images/Icon-zurich.png") no-repeat;
    background-position-y: 60%;
    background-position: var(--timeline-bgX) var(--timeline-bgY);
    background-size: 800% 20%;
}

.icon-facebook,
.icon-instagram,
.icon-twitter,
.icon-youtube,
.icon-web {
	width: 60px;
	padding: 10px 10px 10px 10px;
}

.icon--facebook {
	width: 60px;
	height: 60px;
	background-position-x: calc((100%/100) * -0.05);
    --timeline-bgY: 99.6%;
}

.icon--instagram {
	width: 60px;
	height: 60px;
	background-position-x: calc((100%/100) * 28.6);
    --timeline-bgY: 99.6%;
}

.icon--twitter {
	width: 60px;
	height: 60px;
	background-position-x: calc((100%/100) * 14.3);
    --timeline-bgY: 99.6%;
}

.icon--youtube {
	width: 60px;
	height: 60px;
	background-position-x: calc((100%/100) * 42.8);
    --timeline-bgY: 99.6%;
}

.icon--web {
	width: 60px;
	height: 60px;
	background-position-x: calc((100%/100) * 100);
    --timeline-bgY: 98.9%;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #FFFFFF;
	color: #FFFFFF;
	text-align: center;	
}

.copyright {
	float: right;
	color: black;
	font-size: 1.4em;
	padding: 30px 10px 10px 10px; 
}

.p-fb {
	left: 10px;
	top: 5px;
}

.p-ig {
	left: 20px;
	top: 5px;
}

.p-tw {
	left: 30px;
	top: 5px;
}

.p-yt {
	left: 40px;
	top: 5px;
}

.p-web {
	left: 50px;
	top: 5px;
}