* {
    box-sizing: border-box;
}

sup {
    font-size: smaller;
    vertical-align: super;
}

sub {
    font-size: smaller;
    vertical-align: sub;
}

.clearfix {
    clear: both;
}

.no-focus {
    outline: none;
}

.focusable:focus {
    outline: #5b9dd9 solid 2px;
}

.body {
    -webkit-text-size-adjust: 100%;
     min-height: 680px;
     padding-top: 65px;
     overflow-x: hidden;
     text-rendering: optimizeLegibility;
}

.main {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 2460px;
}

.main::after {
    content: "";
    display: block;
    clear: both;
}

.fullscreen .main,
.fullscreen {
    width: calc(100vh * 16/9);
    height: 100%;
}

.fullscreen.less-16-9 .main {
    margin-top: calc((100vh - (100vw * 9/16)) / 2);
    height: calc(100vw * 9/16);
    width: 100%;
}

.player {
    float: left;
}

.fullscreen .player {
    width: 100%;
    height: 95%;
    margin: 0;
}

.player__wrapper {
    width: 1920px;
    height: 1080px;
}

.fullscreen .player__wrapper {
    width: 100%;
    height: 100%;
}

.player__iframe {
    position: relative;
    width: 100%;
    height: 100%;
}

.timeline {
    position: relative;
    overflow: visible;
    margin: 0 auto;
    padding: 0;
}

.timeline__cover {
    position: absolute;
    z-index: 4000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    cursor: not-allowed;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE8 */
    filter: alpha(opacity=30); /* IE5-7 */
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
}

.timeline,
.timeline__controls {
    height: 80px;
}

.fullscreen .timeline {
    height: 5%;
    width: 100%;
    z-index: 2;
}

.fullscreen .timeline__controls {
    height: 100%;
}

.timeline__controls {
    position: relative;
    float: left;
}

.timeline__controls--left {
    width: 305px;
    padding: 0 15px;
    border-right: 5px solid;
}

.fullscreen .timeline__controls--left {
    width: 10%;
    border-right: 5px solid;
}

.timeline__controls--center {
    position: relative;
    width: 1850px;
}

.fullscreen .timeline__controls--center {
    width: 75%;
    position: relative;
}

.timeline--no-volume .timeline__controls--center {
    width: 1850px;
}

.fullscreen .timeline--no-volume .timeline__controls--center {
    width: 81%;
}

.timeline__controls--active-state {
    display: none;
}

.timeline__controls--right {
    width: 305px;
    padding: 0 15px;
    border-left: 5px solid;
}

.fullscreen .timeline__controls--right {
    width: 15%;
    border-left: 5px solid;
}

.timeline--no-volume .timeline__controls--right {
    width: 305px;
    text-align: center;
}

.top-wrapper--no-promo .timeline--no-volume .timeline__controls--right,
.top-wrapper--no-cta .timeline--no-volume .timeline__controls--right {
    width: 200px;
}

.fullscreen .timeline--no-volume .timeline__controls--right {
    width: 9%;
}

.timeline__button {
    float: left;
    margin: 0;
    padding: 0;
    height: 100%;
    border: 0;
}

.fullscreen .timeline__button {
    margin: 0;
    height: 100%;
}

.timeline--no-volume .timeline__controls--right .timeline__button {
    float: none;
}

.timeline-buffering {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
}

.fullscreen .timeline-buffering {
    height: 6px;
}

.timeline__buffer-section {
    position: relative;
    display: inline-block;
    float: left;
    height: 100%;
}

.timeline__buffer-section-inner {
    width: 0;
    height: 100%;
}

.timeline-progress-hover,
.timeline-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.timeline-progress-hover {
    z-index: 10;
}

.timeline-progress {
    z-index: 20;
}

.timeline-progress-indicator,
.timeline-progress-indicator-ball {
    z-index: 40;
    display: none;
}

.timeline-chapters {
    position: relative;
    z-index: 30;
    height: 100%;
    line-height: 80px;
    text-align: center;
}

.fullscreen .timeline-chapters {
    line-height: 5vh;
}

.fullscreen.less-16-9 .timeline-chapters {
    line-height: calc(5vw * 9/16);
}

.timeline-contrast {
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
}

.timeline-chapters__chapter,
.timeline-active-state__label {
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

.timeline-chapters__chapter {
    position: relative;
    z-index: 1;
    display: inline-block;
    float: left;
    height: 100%;
    cursor: pointer;
}

.timeline-active-state__label {
    margin-top: 10px;
    height: calc(100% - 10px);
    line-height: 40px;
    text-align: center;
}

.timeline-volume {
    z-index: 1;
    float: left;
    width: 100px;
    height: 100%;
    margin-right: 15px;
}

.timeline--no-volume .timeline-volume,
.timeline--no-volume .timeline__button--volume {
    display: none;
}

.fullscreen .timeline-volume {
    width: calc(100% - 165px);
}

.timeline__controls--right-no-fs .timeline-volume {
    width: 275px;
}

.timeline-volume div {
    cursor: pointer;
}

.timeline-volume__bg {
    margin-top: 35px;
    width: 100%;
    height: 10px;
}

.fullscreen .timeline-volume__bg {
    margin-top: calc(2.5vh - 5px);
}

.fullscreen.less-16-9 .timeline-volume__bg {
    margin-top: calc((2.5vw * 9/16) - 5px);
}

.timeline-volume__container {
    position: relative;
    width: 100px;
}

.fullscreen .timeline-volume__container {
    width: calc(100% - 10px);
}

.timeline__controls--right-no-fs .timeline-volume__container {
    width: 267px;
}

.timeline-volume__level {
    position: absolute;
    z-index: 10;
    top: -10px;
    left: 0;
    padding-left: 10px;
    width: 50%;
    height: 10px;
}

.timeline-volume__ball {
    position: absolute;
    top: -5px;
    right: -10px;
    width: 20px;
    height: 20px;
}

.timeline__settings {
    display: inline-block;
    text-align: left;
}

.timeline__settings-popout,
.timeline__settings-language,
.timeline__settings-cc,
.timeline__settings-quality {
    display: none;
}

.top-wrapper--no-cta .main,
.top-wrapper--no-promo .main{
    width: 2190px;
}

.top-wrapper--no-cta.top-wrapper--no-promo .main {
    width: 1920px;
}

.fullscreen .top-wrapper--no-cta .player {
    width: 100%;
}

.top-wrapper--no-promo .timeline__controls--center,
.top-wrapper--no-cta .timeline__controls--center {
    width: 1580px;
}

.top-wrapper--no-cta.top-wrapper--no-promo .timeline__controls--center {
    width: 1310px;
}

.top-wrapper--no-promo .timeline--no-volume .timeline__controls--center,
.top-wrapper--no-cta .timeline--no-volume .timeline__controls--center {
    width: 1685px;
}

.fullscreen .top-wrapper--no-promo .timeline__controls--center {
    width: 75%;
}

@media screen and (max-width: 2460px) {
    .main {
        width: 740px;
    }

    .player__wrapper {
        width: 740px;
        height: 420px;
    }

    .timeline,
    .timeline__controls {
        height: 50px;
    }

    .timeline-chapters {
        line-height: 25px;
    }

    .timeline__controls--left {
        width: 125px;
    }

    .timeline__controls--center {
        width: 415px;
    }

    .timeline--no-volume .timeline__controls--center {
        width: 415px;
    }

    .top-wrapper--no-promo .timeline__controls--center,
    .top-wrapper--no-cta .timeline__controls--center {
        width: 415px;
    }

    .top-wrapper--no-cta.top-wrapper--no-promo .timeline__controls--center {
        width: 415px;
    }

    .timeline__controls--right {
        width: 200px;
    }

    .timeline--no-volume .timeline__controls--right {
        width: 10px;
    }

    .top-wrapper--no-promo .timeline--no-volume .timeline__controls--right,
    .top-wrapper--no-cta .timeline--no-volume .timeline__controls--right {
        width: 10px;
    }

    .timeline-volume {
        width: 100px;
    }

    .timeline-volume__bg {
        margin-top: 23px;
        width: 100%;
    }

    .timeline-volume__container {
        width: 40px;
    }

    .fullscreen .timeline-volume__container {
        width: calc(100% - 9px);
    }

    .timeline-volume__level {
        padding-left: 9px;
    }

    .timeline-volume__ball {
        top: -4px;
        right: -9px;
        width: 18px;
        height: 18px;
    }

    .timeline__controls--right-no-fs .timeline-volume {
        width: 140px;
    }

    .timeline__controls--right-no-fs .timeline-volume__container {
        width: 132px;
    }
}

@media screen and (max-width: 1640px) {
    .main {
        width:700px;
    }

    .player__wrapper {
        width: 700px;
        height: 400px;
    }

    .timeline-chapters {
        line-height: 16px !important;
    }

    .fullscreen .timeline-chapters {
        line-height: 17px !important;
    }

    .timeline, .timeline__controls {
        height: 30px;
    }

    .timeline__controls--left {
        width: 100px;
    }

    .timeline__controls--center {
        width: 420px;
    }

    .timeline--no-volume .timeline__controls--center {
        width: 380px;
    }

    .top-wrapper--no-promo .timeline__controls--center,
    .top-wrapper--no-cta .timeline__controls--center {
        width: 380px;
    }

    .top-wrapper--no-cta.top-wrapper--no-promo .timeline__controls--center {
        width: 380px;
    }

    .timeline__controls--right {
        width: 120px;
    }

    .timeline--no-volume .timeline__controls--right {
        width: 100px;
    }

    .top-wrapper--no-promo .timeline--no-volume .timeline__controls--right,
    .top-wrapper--no-cta .timeline--no-volume .timeline__controls--right {
        width: 150px;
    }

    .timeline-volume {
        width: 40px;
    }

    .fullscreen .timeline-volume {
        width: calc(100% - 80px);
    }

    .timeline__controls--right-no-fs .timeline-volume {
        width: 115px;
    }

    .timeline-volume__bg {
        margin-top: 12px;
        height: 5px;
    }

    .fullscreen .timeline-volume__bg {
        margin-top: calc(2.5vh - 5px);
        height: 10px;
    }

    .fullscreen.less-16-9 .timeline-volume__bg {
        margin-top: calc((2.5vw * 9/16) - 5px);
    }

    .timeline-volume__container {
        width: 40px;
    }

    .fullscreen .timeline-volume__container {
        width: calc(100% - 2px);
    }

    .timeline__controls--right-no-fs .timeline-volume__container {
        width: 92px;
    }

    .fullscreen .timeline-volume__level {
        top: -10px;
        height: 10px;
    }

    .timeline-volume__level {
        top: -5px;
        padding-left: 8px;
        height: 5px;
    }

    .timeline-volume__ball {
        right: -8px;
        width: 12px;
        height: 12px;
    }

    .fullscreen .timeline-volume__ball {
        top: -4px;
        right: -2px;
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 1230px) {
    .main {
        width: 520px;
    }

    .top-wrapper--no-cta .main,
    .top-wrapper--no-promo .main {
        width: 730px;
    }

    .top-wrapper--no-cta.top-wrapper--no-promo .main {
        width: 640px;
    }

    .top-wrapper--no-promo .timeline--no-volume .timeline__controls--center,
    .top-wrapper--no-cta .timeline--no-volume .timeline__controls--center {
        width: 540px;
    }

    .top-wrapper--no-cta.top-wrapper--no-promo .timeline--no-volume .timeline__controls--center {
        width: 410px;
    }

    .player__wrapper {
        width: 640px;
        height: 360px;
    }

    .timeline,
    .timeline__controls {
        height: 50px;
    }

    .timeline__controls--left {
        width: 105px;
        padding: 0 5px;
    }

    .timeline__controls--center {
        width: 510px;
    }

    .timeline--no-volume .timeline__controls--center {
        width: 610px;
    }

    .top-wrapper--no-promo .timeline__controls--center,
    .top-wrapper--no-cta .timeline__controls--center {
        width: 420px;
    }

    .top-wrapper--no-promo .timeline--no-volume .timeline__controls--center,
    .top-wrapper--no-cta .timeline--no-volume .timeline__controls--center {
        width: 525px;
    }

    .top-wrapper--no-promo .timeline--no-volume .timeline__controls--right,
    .top-wrapper--no-cta .timeline--no-volume .timeline__controls--right {
        width: 100px;
    }

    .top-wrapper--no-cta.top-wrapper--no-promo .timeline__controls--center {
        width: 330px;
    }

    .timeline__controls--right {
        width: 205px;
        padding: 0 5px;
    }

    .timeline--no-volume .timeline__controls--right {
        width: 105px;
    }

    .fullscreen .timeline-buffering {
        height: 4px;
    }

    .timeline-chapters {
        line-height: 50px;
    }

    .fullscreen .timeline-volume {
        width: calc(100% - 100px);
    }

    .timeline-volume__bg {
        margin-top: 21px;
    }

    .fullscreen .timeline-volume__level {
        padding-left: 7px;
    }

    .fullscreen .timeline-volume__container {
        width: calc(100% - 7px);
    }

    .fullscreen .timeline-volume__ball {
        top: -3px;
        right: -7px;
        width: 14px;
        height: 14px;
    }
}

@media screen and (max-width: 700px) and (orientation: landscape) {
    .body {
        width: 100%;
        height: calc(100vmax - 50vmin);
        overflow-x: hidden;
    }
    .main {
        position: relative;
        width: 500px;
    }

    .top-wrapper--no-cta .main .player,
    .top-wrapper--no-cta .main .timeline {
        width: 380px;
        margin-left: 0;
    }

    .player__wrapper {
        position: relative;
        padding-top: 220px; /* 9/16 = 0.5625 */
        width: 500px;
        height: 250px;
    }

    .player__iframe {
        position: absolute;
        top: 0;
        left: 0;
    }

    .timeline,
    .timeline__controls {
         width: 100%;
         height: calc(100vh * 0.9/12);
    }

    .fullscreen .timeline,
    .fullscreen .timeline__controls {
        width: 100%;
        height: calc(100vh * 0.5/12);
    }

    .timeline__controls--left,
    .timeline--no-volume .timeline__controls--left {
        width: 120px;
    }

    .timeline__controls--center,
    .timeline--no-volume .timeline__controls--center {
        width: 300px;
    }

    .timeline__controls--right,
    .timeline--no-volume .timeline__controls--right {
        width: 80px;
    }



    .fullscreen .timeline__controls--left,
    .fullscreen .timeline--no-volume .timeline__controls--left {
        width: 70px;
    }

    .fullscreen .timeline__controls--center,
    .fullscreen .timeline--no-volume .timeline__controls--center {
        width: 250px;
    }

    .fullscreen .timeline__controls--right,
    .fullscreen .timeline--no-volume .timeline__controls--right {
        width: 50px;
    }

    .timeline-chapters {
        line-height: 12px;
        text-align: center;
        font-size: 7px;
    }

    .fullscreen.less-16-9 .timeline-chapters {
        line-height: 12px;
        text-align: center;
        font-size: calc(1rem * 5px);
    }

    .cta--side {
        display: none;
    }
}

@media screen and (max-width: 700px) and (orientation: portrait) {
    .body {
        width: 100%;
        height: calc(100vmax - 50vmin);
        overflow-x: hidden;
    }
    .main {
        position: relative;
        width: 340px;
        margin-left: -20px;
    }

    .top-wrapper--no-cta .main .player,
    .top-wrapper--no-cta .main .timeline {
        width: 340px;
        margin-left: 0;
    }

    .player__wrapper {
        position: relative;
        padding-top: 191px; /* 9/16 = 0.5625 */
        width: 340px;
        height: 0;
    }

    .player__iframe {
        position: absolute;
        top: 0;
        left: 0;
    }

    .timeline,
    .timeline__controls {
         width: 100%;
         height: calc(100vh * 0.5/12);
    }

    .fullscreen .timeline,
    .fullscreen .timeline__controls {
        width: 100%;
        height: calc(100vh * 0.5/12);
    }

    .timeline__controls--left,
    .timeline--no-volume .timeline__controls--left {
        width: 90px;
        border-right: 1px solid;
    }

    .timeline__controls--center,
    .timeline--no-volume .timeline__controls--center {
        width: 210px;
    }

    .timeline__controls--right,
    .timeline--no-volume .timeline__controls--right {
        width: 40px;
        border-left: 1px solid;
    }


    .fullscreen .timeline__controls--left,
    .fullscreen .timeline--no-volume .timeline__controls--left {
        width: 70px;
    }

    .fullscreen .timeline__controls--center,
    .fullscreen .timeline--no-volume .timeline__controls--center {
        width: 250px;
    }

    .fullscreen .timeline__controls--right,
    .fullscreen .timeline--no-volume .timeline__controls--right {
        width: 50px;
    }

    .timeline-chapters {
        line-height: 10px !important;
        text-align: center;
        font-size: 0.5em !important;
    }

    .fullscreen.less-16-9 .timeline-chapters {
        line-height: 12px;
        text-align: center;
        font-size: calc(1rem * 5px);
    }

    .cta--side {
        display: none;
    }
}



